#azrcrv-tsh-tabs{
    background: transparent;
    border: none;
}
#azrcrv-tsh-tabs p, #azrcrv-tsh-tabs label, #azrcrv-tsh-tabs input, #azrcrv-tsh-tabs select{
    font-weight: 400;
}
#azrcrv-tsh-tabs .ui-widget-header{
    background: transparent;
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#azrcrv-tsh-tabs .ui-tabs-panel{
	margin-top: -1px;
	border: 1px solid grey;
}
#azrcrv-tsh-tabs .ui-tabs-nav li{
	padding-left: -2px;
}
#azrcrv-tsh-tabs .ui-tabs-nav .ui-state-default{
    background: transparent;
    border: none;
}
#azrcrv-tsh-tabs .ui-tabs-nav .ui-state-active{
    border: none;
}
#azrcrv-tsh-tabs .ui-tabs-nav .ui-state-default a:hover{
	border: 1px solid #ff8000;
	border-bottom: 4px solid #ff8000;
	color: #ff8000;
}
#azrcrv-tsh-tabs .ui-tabs-nav .ui-state-default a{
	border: 1px solid grey;
	border-bottom: 4px solid grey;
	color: grey;
}
#azrcrv-tsh-tabs .ui-tabs-nav .ui-state-active a{
	border: 1px solid #007FFF;
	border-bottom: 4px solid #007FFF;
	color: #007FFF;
}